<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1><i class="fa fa-users"></i> Relação de Funcionários</h1>
        </div>      
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PRONT</th>
                    <th>NOME</th>
                    <th>RG</th>
                    <th>ADMISSÃO</th>
                    <th>ÚLTIMAS FÉRIAS</th>
                    <th>PERÍODO DE AQUISIÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN EACH_FUNC -->
                <tr>
                    <td>{PRONT}</td>
                    <td><i class="fa fa-pencil-square-o"></i> {NAME}</td>
                    <td>{RG}</td>
                    <td>{ADMISS}</td>
                    <td>{FERIAS}</td>
                    <td>{PERIODO}</td>
                </tr>
                <!-- END EACH_FUNC -->
            </tbody>
        </table>
    </div>
</div>