<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1><i class="fa fa-users"></i> Relação de Funcionários</h1>
        </div>      
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PRONT</th>
                    <th>NOME</th>
                    <th>RG</th>
                    <th>ADMISSÃO</th>
                    <th>ÚLTIMAS FÉRIAS</th>
                    <th>PRÓXIMAS FÉRIAS</th>
                </tr>
            </thead>
            
        </table>
    </div>
</div>