<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1><mark style="float:right">{TODAY}</mark><i class="fa fa-users"></i> Relação de Funcionários</h1>
        </div>      
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>PRONT</th>
                    <th>NOME</th>
                    <th>RG</th>
                    <th>ADMISSÃO</th>
                    <th>ÚLTIMAS FÉRIAS</th>
                    <th>PERÍODO DE AQUISIÇÃO</th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN EACH_FUNC -->
                <tr>
                    <td><a href="?page=view&pront={PRONT}">{PRONT}</a></td>
                    <td><a href="?page=view&pront={PRONT}"><i class="fa fa-pencil-square-o"></i> {NAME}</a></td>
                    <td><a href="?page=view&pront={PRONT}">{RG}</a></td>
                    <td><a href="?page=view&pront={PRONT}">{ADMISS}</a></td>
                    <td><a href="?page=view&pront={PRONT}">{FERIAS}</a></td>
                    <td><a href="?page=view&pront={PRONT}">{PERIODO}</a></td>
                </tr>
                <!-- END EACH_FUNC -->
            </tbody>
        </table>
    </div>
</div>