<script>
    $(document).ready(function(){
        
        // JQuery Datepicker para todos.
        $(".datepicker").datepicker({
            showButtonPanel: true,
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true
        });
        
        // Altera automaticamente datas e limita data final de férias.
        $('#aquisicao-ini').change(function(){
            
            var val = $('#aquisicao-ini').datepicker('getDate');
            val.setFullYear(val.getFullYear() + 1);
            val.setDate(val.getDate() - 1);
            var converted_date = formatDate(val, 'dd/MM/yyyy');
            $('#aquisicao-fin').val(converted_date);
            $('input[name=aquisicao-fin-post]').val(converted_date);
            
            // As férias podem começar 1 dia depois da data final de aquisicao.
            val.setDate(val.getDate() + 1);
            converted_date = formatDate(val, 'dd/MM/yyyy');
            $('#ferias-ini').val(converted_date);
            $('#ferias-ini').datepicker( "option", "minDate", val );
            
            //As férias só podem ser marcadas
            var ferias = $('#ferias-ini').datepicker('getDate');
            ferias.setDate(ferias.getDate() + 365);
            $('#ferias-ini').datepicker( "option", "maxDate", ferias );
            $('#ferias-ini').change();
            
        });
        
        // Calcula 20 dias com abono e 30 sem. Coloca data final de férias.
        $('#ferias-ini').change(function(){
            
            var dias= ( $('#abono').is(':checked') ) ? 20 : 30;
            var val =$('#ferias-ini').datepicker('getDate');
            val.setDate(val.getDate() + dias);
            var converted_date = formatDate(val, 'dd/MM/yyyy');
            $('#ferias-fin').val(converted_date);
            $('input[name=ferias-fin-post]').val(converted_date);
            
        });
        
        $('#abono').change(function(){
            
            $('#ferias-ini').change();
            
        });
        
        // Seta valor minimo e maximo para ferias.
        $('#ferias-ini').datepicker( "option", "minDate", '{FERIAS_INI_FORM}' );
        var ferias = $('#ferias-ini').datepicker('getDate');
        ferias.setDate(ferias.getDate() + 365);
        $('#ferias-ini').datepicker( "option", "maxDate", ferias );
        
        //alert($('input[name=aquisicao_ini]').val());
        
        
    });

</script>
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1><mark style="float:right">{TODAY}</mark><i class="fa fa-user"></i> {NAME}</h1>
        </div>      
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>PRONTUÁRIO: <mark><b>{PRONT}</b></mark></h3>
    </div>
    <div class="col-md-4">
        <h3>RG: <mark><b>{RG}</b></mark></h3>
    </div>
    <div class="col-md-4">
        <h3>ADMITIDO EM: <mark><b>{ADMISS}</b></mark></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h3>DIRETORIA: <mark>{DIR}</mark></h3>
    </div>
    <div class="col-md-3">
        <h3><mark><b>{DIV}</b></mark></h3>
    </div>
    <div class="col-md-3">
        <h3><mark><b>{SER}</b></mark></h3>
    </div>
    <div class="col-md-3">
        <h3><mark><b>{SEC}</b></mark></h3>
    </div>
</div>
<div class="row">
    <div class="col-md-7" style="background: #fff">
        <div class="page-header"><h2>ÚLTIMAS FÉRIAS</h2></div>
        <!-- BEGIN AVISO -->
        <div class="alert alert-danger">
            <strong>Erro: </strong> {AVISO_MSG}
        </div>
        <!-- END AVISO -->
        <!-- BEGIN SUCESSO -->
        <div class="alert alert-success">
            <strong>Férias salvas com sucesso.</strong>
        </div>
        <!-- END SUCESSO -->        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="30%">PERÍODO DE AQUISIÇÃO</th>
                    <th width="30%">PERÍODO DE FÉRIAS</th>
                    <th width="15%">ABONO</th>
                    <th width="15%">ADIANTAMENTO</th>
                    <th width="5%"></th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <!-- BEGIN EACH_FERIAS -->
                <tr>
                    <td>{PERIODO}</td>
                    <td>{FERIAS}</td>
                    <td>{ABONO}</td>
                    <td class="text-center">{ADIANTA}</td>
                    <td><a href="?page=pdf&ferias={FERIAS_ID}">impr</a></td>
                    <td><A href="?page=edit&ferias={FERIAS_ID}">edit</td>
                </tr>
                <!-- END EACH_FERIAS -->
            </tbody>
        </table>
    </div>    
    <div class="col-md-5" style="background: #fafafa">
        <div class="page-header"><h2>NOVAS FÉRIAS</h2></div>
        <form class="form-horizontal" role="form" method="post" action="?page=view&pront={PRONT}">
            <div class="form-group">
                <label class="control-label col-sm-3" for="aquisicao">Período de Aquisição:</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control datepicker" placeholder="Selecione a data inicial de Aquisição" id="aquisicao-ini" name="aquisicao-ini-post" value="{AQUIS_INI_FORM}">
                </div>
                <div class="col-sm-1 text-center">
                    <h5>a</h5>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="aquisicao-fin"  value="{AQUIS_FIN_FORM}" disabled="">
                    <input type="hidden" name="aquisicao-fin-post" value="{AQUIS_FIN_FORM}">
                </div>               
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="ferias-ini">Entrada de Férias:</label>
                <div class="col-sm-3"> 
                    <input type="text" class="form-control datepicker" placeholder="Selecione uma data para férias" id="ferias-ini" name="ferias-ini-post" value="{FERIAS_INI_FORM}">
                </div>
                <div class="col-sm-1 text-center">
                    <h5>a</h5>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control datepicker" placeholder="Final de Férias" id="ferias-fin" value="{FERIAS_FIN_FORM}" disabled>
                    <input type="hidden" name="ferias-fin-post" value="{FERIAS_FIN_FORM}">
                </div> 
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3"> 
                    <label><input type="checkbox" name="abono" id="abono"> Optou pelo abono (10 dias)</label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3"> 
                    <label><input type="checkbox" name="adiantamento" id="adiantamento"> Optou pelo adiantamento 13º</label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="ferias-obs">Observações:</label>
                <div class="col-sm-7">
                    <textarea class="form-control" id="ferias-obs" name="ferias-obs" placeholder="Digite alguma informação que poderá ser útil para posteriores consultas."></textarea>
                </div>
            </div>            
            <div class="form-group"> 
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>